.header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 1000;
}
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
}

.navbar-item {
  /* width: 100%; */
  /* text-align: center; */
  text-decoration: none;
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
}

.navbar-item a:link,
.navbar-item a:visited {
  color: white;
  text-decoration: none;
}
.navbar-item a:hover {
  font-size: larger;
}
.logo__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.logo__anchor {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 50px;
  margin: 0 var(--gutter);
}

.header::before{
    content: "";
    transition: background 800ms;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.header--sticky::before{
  background: rgba(83, 0, 69,0.8);
}
:root {
    --gutter: 26px;
  }